# Goのビルドファイル
bin/
*.exe
*.out
*.log

# Firebase & AWSの秘密情報をコミットしない
firebase.json
.firebaserc
.env

# ローカルでビルド & ZIP 作成するもの
lambda/bootstrap
lambda/function.zip

# AWS CLI 実行結果
lambda/response.json

# awsの設定ファイル
.aws/

# 機密情報
lambda/serviceAccountKey.json
lambda/serviceAccountKey.json:Zone.Identifier
