# Goのビルドファイル
bin/
*.exe
*.out
*.log

# Firebase & AWSの秘密情報をコミットしない
firebase.json
.firebaserc
.env

# ローカルでビルド & ZIP 作成するもの
lambda/bootstrap
lambda/function.zip

# awsの設定ファイル
.aws/


# AWS CLI 実行結果
lambda/response.json
